@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}
header {
    margin: 50px auto;
    min-width: 500px;
    text-align: center;
}
h1 {
    font-weight: 200;
    margin-bottom: 1.4rem;
}
h1 span {
    font-weight: 600;
    display: block;
}
p {
    color: hsl(229, 6%, 66%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
}
.card {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 15px;
    width: 350px;
    border-radius: 5px;
}
.card h3 {
    margin-bottom: .4rem;
}
.card p {
    margin-bottom: 1.5rem;
}
.card img {
    display: block;
    margin-left: auto;
}
.red {
    border-top: 4px solid hsl(0, 78%, 62%);
}
.cyan {
    border-top: 4px solid hsl(180, 62%, 55%);
}
.orange {
    border-top: 4px solid hsl(34, 97%, 64%);
}
.blue {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.order-2 {
    order: 2;
}

footer p { font-size: 11px; text-align: center; }
footer p a { color: hsl(228, 45%, 44%); }

@media (min-width: 1140px) {
    .card:nth-child(1) {
        transform: translateY(50%);
    }
    .card:nth-child(4) {
        transform: translateY(50%);
    }
}